@import "custom-variables";

@font-face {
  font-family: 'Avenir';
  src: url('#{$fontsUrl}Avenir-Black.eot');
  src: url('#{$fontsUrl}Avenir-Black.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}Avenir-Black.woff2') format('woff2'),
  url('#{$fontsUrl}Avenir-Black.woff') format('woff'),
  url('#{$fontsUrl}Avenir-Black.ttf') format('truetype'),
  url('#{$fontsUrl}Avenir-Black.svg#Avenir-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansHant';
  src: url('#{$fontsUrl}NotoSansHant-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansHant';
  src: url('#{$fontsUrl}NotoSansHant-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansHant';
  src: url('#{$fontsUrl}NotoSansHant-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('#{$fontsUrl}MyriadPro-Regular.eot');
  src: url('#{$fontsUrl}MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}MyriadPro-Regular.woff2') format('woff2'),
  url('#{$fontsUrl}MyriadPro-Regular.woff') format('woff'),
  url('#{$fontsUrl}MyriadPro-Regular.ttf') format('truetype'),
  url('#{$fontsUrl}MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Avenir Next';
  src: url('#{$fontsUrl}AvenirNext-Bold.eot');
  src: url('#{$fontsUrl}AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}AvenirNext-Bold.woff2') format('woff2'),
  url('#{$fontsUrl}AvenirNext-Bold.woff') format('woff'),
  url('#{$fontsUrl}AvenirNext-Bold.ttf') format('truetype'),
  url('#{$fontsUrl}AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('#{$fontsUrl}AvenirNext-Regular.eot');
  src: url('#{$fontsUrl}AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}AvenirNext-Regular.woff2') format('woff2'),
  url('#{$fontsUrl}AvenirNext-Regular.woff') format('woff'),
  url('#{$fontsUrl}AvenirNext-Regular.ttf') format('truetype'),
  url('#{$fontsUrl}AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

