.page__section-history {
  background-color: #28a9ac;
  padding: 140px 0 70px;
  .container{
    height: 100%;
  }
  .share__icons-wrap{
    &.container{
      height: auto;
    }
  }

  @include respond(1024) {
    .share__icons-wrap {
      bottom: 12.5%;
    }
  }
  @include respond(768) {
   min-height: 100vh;
  }
  @include respond(480) {
    padding: 96px 0 76px;
    .share__icons-wrap {
      bottom: 18%;
    }
  }
}

.history-slider {
  height:  100%;
  max-height: 100%;
  .slick-arrow {
    bottom: 0px;

    &.slick-next {
      &:after {
        border: none;
        background: url("#{$imgUrl}icons/arrow-slider-next.svg") no-repeat center /contain;
        @include size(50px, 30px);
      }
    }
    &.slick-prev {
      &:before {
        border: none;
        background: url("#{$imgUrl}icons/arrow-slider-prev.svg") no-repeat center /contain;
        @include size(50px, 30px);
      }
    }
  }

  @include respond(1200) {
    min-height: unset;
  }
  @include respond(1024) {
    .slick-arrow {
      z-index: 5;
    }
  }
  @include respond(768) {
    .slick-arrow {
      bottom: 35px;
    }
  }
}

.slick-list, .slick-track {
  height: 100%;
}

.history-slider__item-inner {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  @include display-flex();
  @include flex-direction-col();

  .page__section-heading {
    z-index: 1;
    margin-bottom: 0;
  }
  .img__wrap {
    margin-top: auto;
    margin-bottom: auto;
    width: 71%;
    overflow: hidden;
    @include center();
    img {
      width: 100%;
      height: inherit;
    }
  }

  @include respond(1200) {
    .img__wrap {
      overflow: hidden;
    }
  }
  @include respond(1024) {
    .page__section-heading {
      background-color: transparent;
      padding: 0 15px;
    }
    .img__wrap{
      width: 100%;
    }
  }

  @include respond(570) {
    h3 {
      @include font-size(16);
      br{
        display: none;
      }
    }
  }
}

.history-slider__item-inner-02 {
  .img__wrap {
    width: 58% !important;
    @include center();
  }
  @include respond(1024) {
    .img__wrap {
      width: 80% !important;
    }
  }
}

@media screen and (max-height: 800px) {
  .page__section-history {
    height: auto;
    overflow: visible;
  }
  .history-slider {
    height: auto;
    .img__wrap {
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .history-slider__item-inner-02 {
    .img-wrap {
      width: 85%;
      @include center();
    }
  }
}