.page__section-wisdom {
  overflow-x: hidden;
  position: relative;
}

.page__section-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  //left: 0;
  z-index: -1;
  overflow: hidden;
}

.wisdom__bg-svg {
  width: 100%;
  height: 100%;
  //margin-top: -5%;
}

@media screen and (min-width: 1600px) {
  .wisdom__bg-svg {

  }
}

.wisdom__bubble-wrap {

  &.page__bubble {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .page__bubble-01 {
    left: 25%;
  }
  .page__bubble-02 {
    left: 39.5%;
    margin-top: -20px;
  }
  .page__bubble-03 {
    left: 56.5%;
    margin-top: 10px;
    //margin-top: -20px;
  }
  .page__bubble-04 {
    left: 76%;
  }
}

/*--------wisdom page modals----*/

.wisdom-modal__item {
  width: 800px;
  .modal__inner {

  }
  .modal__header {
    background-color: $orangeColor;
    padding: 40px;
    color: #fff;
    h3 {
      margin-bottom: 0rem;
    }
    h4{
      margin-bottom: 0;
      margin-top: 1rem;
    }
  }
  .modal__content {
    padding: 40px 25px;
    color: $greyColor;
    background-color: #fff;
    p {
      color: $greyColor;
    }
  }
  .modal__content-item {
    margin-bottom: 1rem;
    &.modal__content-text {
      p{
        &.modal__content-text-title{
          font-weight: 900;
        }
      }
    }
    &.modal__content-list {
      padding-left: 20px;
      p {
        position: relative;
        margin-bottom: 5px;
        &.modal__content-list-title{

        }
      }
      span{
        display: block;
        position: absolute;
        top: 10px;
        left: -20px;
        margin: auto;
        color: $greyColor;
        &.modal__content-bullet {
          border-radius: 50%;
          background-color: $greyColor;
          @include square(10px);
        }
      }
    }

    &.modal__content-img {
      img {
        width: 100%;
      }
    }
  }
}



